<div class="container">
  <mat-card>
    <div class="header">
      <h2>Upcoming tasks</h2>
      <mat-icon
        matTooltip="Add new task"
        (click)="addTask()"
      >add</mat-icon>
    </div>
    <mat-card-content>
      <div *ngIf="tasks.length <= 0">
        No items in the list!
      </div>
      <mat-list *ngIf="tasks.length > 0">
        <mat-list-item *ngFor="let item of tasks" #itemEl>
          <div class="list-item">
            <p class="item-name">
              {{item.createdAt.toString().slice(0,10) + " | " + item.content }}
            </p>
            <mat-icon
              class="icon-button add"
              matTooltip="Complete task"
              (click)="completeTask(item); disableItem(itemEl)"

            >
              check_circle_outline</mat-icon>
            <mat-icon
              class="icon-button update"
              matTooltip="Modify task"
              (click)="updateTask(item.id)">
              change_history</mat-icon>
            <mat-icon class="icon-button delete"
              matTooltip="Remove task"
              (click)="deleteTask(item.id); disableItem(itemEl)"
            >highlight_off</mat-icon>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      Completed Tasks:
    </mat-card-header>
    <mat-card-content>
      <mat-list *ngIf="completedTasks.length > 0">
        <mat-list-item *ngFor="let item of completedTasks" #itemEl>
          <div class="list-item">
            <p class="item-name">
              {{item.date.toString().slice(0,10) + " | " + item.content }}
            </p>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
